#app {
  margin: 0;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template: 60px 1fr / 1fr;
}

#app #header {
  grid-area: 1 / 1 / span 1 / span 1;
}

#app #body {
  grid-area: 2 / 1 / span 1 / span 1;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

#app #body #body-margined {
  flex: 1 0 0px;
}

@media screen and (min-width: 780px) {
  #app #body #body-margined {
    flex: 0 1 1100px;
  }
}